<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="allchats-style.css">
    <title>Messages</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
                <li>Welcome</li>
                <li>=</li>
            </ul>
        </nav>
    </header>
    <main>
        
        <div>
            <h4>username1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <div>
            <h4>User1</h4>
            <p>last text message...</p>
        </div>
        <!-- <form action="/?_method=DELETE" method="POST">
            <button type="submit">DELETE ACCOUNT</button>
        </form>     -->
    </main>
    <script>
        document.querySelector('main', e => {
            if(e.target.tagName === 'div') {}
        })
    </script>
</body>
</html>