<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index-style.css">
    <link rel="stylesheet" type="text/css" href="/allchats-style.css">
    <title>Messages</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
            </ul>
        </nav>
    </header>
    <main>
        
        <div>
            <h4><%=chatWith%> </h4>
        </div>
        <div>
            <h4></h4>
            <p></p>
        </div>
        <div>
            <h4></h4>
            <p></p>
        </div>
        <div>
            <h4></h4>
            <p></p>
        </div>
        <div>
            <h4></h4>
            <p></p>
        </div>
        <div>
            <h4></h4>
            <p></p>
        </div>
        
        
        <form action="/<%=username%>?_method=DELETE" method="POST">
            <button type="submit">DELETE ACCOUNT(cannot be undone)</button>
        </form>    
    </main>
    <script>
        document.querySelector('main').addEventListener('click', e => {
            if(e.target.matches('div')) {
                const talkingTo = e.target.querySelector('h4').textContent
                window.location.assign(`/<%=username%>/${talkingTo}`)
            }
        })
    </script>
</body>
</html>