<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index-style.css">
    <link rel="stylesheet" type="text/css" href="/chat-style.css">
    <title>Chat</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <ul>
                <li>back to chats</li>
                <li>chatting with</li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="messages">
            <div class="your-msg">text message text message text message text message</div>
            <div class="their-msg">text message</div>
            <div class="your-msg">text message text message text message text message text message text message text message</div>
            <div class="their-msg">text message text message</div>
            <div class="your-msg">text message text message text message text message text message text message text message text message text message</div>
            <div class="their-msg">text</div>
            <form id="send-msg" action="/<%=username%>/<%=chattingWith%>?_method=PUT" method="POST">
                <input type="text" name="message">
                <button type="submit">Send</button>
            </form>
        </section>
    </main>
</body>
</html>