<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index-style.css">
    <title>Chatter</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="call-to-action">
            <h1 id="main-header">Chatter</h1>
            <p>This is the description of the app</p>
            <a href="/signup"><button>Get Started</button></a>
            <a href="">learn more</a>
        </section>
        <section>
            <h3 id="tech-header">Tech Used</h3>
        </section>
        
    </main>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>