<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index-style.css">
    <link rel="stylesheet" type="text/css" href="/allchats-style.css">
    <title>Messages</title>
</head>
<body>

    <header>
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/pages/new" method="post">
            <label>
                Name of Page
                <input type="text" name="name">
            </label>
            <input type="submit" value="Create Page">
        </form>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>