<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <form action="">
        <label>
            Username<br>
            <input type="text"/>
        </label><br>
        <label>
            Password<br>
            <input type="text"/>
        </label><br>
        <label>
            Email<br>
            <input type="text"/>
        </label><br>
        <br>
        <button type="submit">Sign Up</button>

    </form>
    <%- include('./partials/footer.ejs') %>
    <style>
        #navbar>ul{
            display:flex;
            list-style: none;
            justify-content: right;
        }
        #navbar>ul>li{
            padding: 5px 20px;
        }
        form{
            margin: 100px 0;
        }
        input{
            display: flex;
            width: 95%;
            height: 20px;
        }
        button{
            padding: 10px;
            width: 95%;
        }
        footer>p{
            font-size: 12px;
            text-align: center;
        }
    </style>
</body>
</html>