main{
    margin: 100px auto;
    height:400px;
    overflow:auto;
}
div{
    margin: 1px auto;
    padding: 5px;
    width: 300px;
    height:75px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}
h2{
    text-align: center;
}
button{
    font-weight: bold;
    padding: 5px 20px;
    margin: 5px 20px;
    cursor:pointer;
    border:none;
    border-radius: 5px;
}